/* Min-width makes sure the layout looks ok on mobile. There is currently a compability issue
with Flexbox and Plotly, so Plotly cannot resize in a responsive way. 
Min-width kind of fixes this. */
html {
    height: 100%;
    min-width: 950px;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.wrapper {
    height: 100%;
    width: 75%;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#369, #fff);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Styling of titles 
font-family: Gloria Hallelujah, free open license, cursive; */

@font-face {
    font-family: 'Gloria Hallelujah';
    src: url(../fonts/GloriaHallelujah-Regular.ttf);
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 32px;
}

h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 24px;
}

h3 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 18px;
}

p {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 15px;
}

em {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 18px;
}