
/* Container for temperature and humidity plots  */
.plots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.select-horizon {
    margin-bottom: 0;
    margin-top: 1em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown-text {
    font-weight: bold;
    font-style: normal;
    
}