/* Styling of table  */

table {
    width: 60%;
    border-collapse: collapse;
    margin: 1em;
}

#borderbottom {
    border-bottom: 2px solid gray;
}

#borderright {
    border-right: 2px solid gray;
}

#borderboth {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

th, td {
    padding: 1em;
}

.table_header {
    background: rgb(144, 173, 201);
}
