.topContent {
    width: 100%;
    min-width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

:nth-child(2) {
    align-self: flex-start;
    margin-top: 1em;
}

.infoBox, .dataBox {
    width: 35%;
    margin: 4em;
    margin-top: 3em;
    border: 2px solid rgb(144, 173, 201);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.infoBoxHeader, .dataBoxHeader {
    margin-top: 0;
    top: 0;
    text-align: center;
    background: rgb(144, 173, 201);
}

.infoBoxContent, .dataBoxContent {
    text-align: center;
    margin: 0.5em;
    margin-top: 0;
}

.dataBoxContent {
    margin-left: 0px;
    padding-left: 3em;
}

.dataBoxContent li {
    margin-top: 1em;
    margin-bottom:1em;
}